body {
  font-family: "Segoe UI", "Arial", sans-serif;
  font-size: 14px;
  color: black;
  background-color: #ECEFF1;
  text-align: center;
  padding: 0px;
  margin: 0 auto;
  width: 800px;
  min-width: 60%;
  max-width: 100%;
}

div.page-header {
  margin-top: 7px;
  margin-bottom: 20px;
  background-color: #FAFAFA;
  box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.40);
  padding: 20px;
} div.card p, div.card h2 {
  }

div.page-header div.card-header {
  background-color: transparent;
  position: relative;
  margin-bottom: 0px;
} div.page-header div.card-header p,
  div.page-header div.card-header h1,
  div.page-header div.card-header h2 {
    color: black;
  }
  div.page-header div.card-header p.subtitle {
    color: black;
  }

div.card {
  padding-bottom: 10px;
} div.card div.card-header {
    background-color: transparent;
    color: black;
    padding-top: 20px;
    padding-left: 6px;
  }
  div.card section.project div.card-header {
    background-color:  rgb(30, 33, 34);
  }

h1, h2, h3 {
  text-align: left;
  padding: 0px;
  margin: 0px;
  font-style: normal;
  font-weight: 200;
}

h1 {
  font-size: 5em;
  margin-bottom: 0px;
  padding-bottom: 0px;
  padding-top: 10px;
  font-weight: 100;
  line-height: 50px;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}

p {
  text-align: left;
}

p.subtitle {
  font-size: 1.5em;
  color: rgb(140, 140, 140);
  margin: 0px;
  margin-left: 4px;
  font-weight: 700;
  padding: 0px;
}

section#contact {
  margin-top: 20px;
  text-align: left;
} section#contact a {
    color: black;
    text-decoration: none;
  }
  section#contact a:focus, section#contact a:hover {
    color: #00C853;
    text-decoration: underline;
  }

div.contact-item {
  text-align: left;
} div.contact-item:focus {
    text-decoration: underline;
    outline: none;
  }

section.project {
  background-color: #FAFAFA;
  box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.40);
  margin: 5px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-left: 6px solid #BDBDBD;
  transition: border-left 0.3s ease-out;
  z-index: 100;
} section.project p {
    margin-left: 20px;
    margin-right: 20px;
    padding: 5px;
  }
  section.project ul {
    text-align: left;
    margin-top: -10px;
    margin-left: 10px;
  }
  section.project .card-header {
    background-color: #1A237E;
    margin: 0px;
    color: white;
    padding: 10px;
    font-weight: 600;
    position: relative;
  } section.project .card-header h3 {
      color: white;
    }
    section.project .card-header div.external-link {
      text-align: right;
      position: absolute;
      bottom: 7px;
      right: 10px;
    } section.project .card-header div.external-link a {
        color: white;
        font-size: 12px;
      } section.project .card-header div.external-link a:focus {
        color: #00C853;
      }

div.card:focus, section.project:focus {
  outline: none;
} section.project:focus {
    border-left: 6px solid #66BB6A;
  }

a {
  color: #2E7D32;
  transition: color 0.25s ease-out;
} a:focus {
    color: #00C853;
  }
