.navigation-icon {
    width: 40px;
    height: 40px;
    padding: 0;
    background: transparent;
    border: none;
}

.navigation-icon svg path {
    color: var(--fg);
}

.navigation-close-button {
    position: absolute;
    top: 0px;
    left: 0px;
}

.navigation {
    width: 100vw;
    height: 100vh;
    background-color: var(--bg);
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.navigation-item {
    font-size: 1.5rem;
}

.navigation-item a {
    color: var(--fg);
    text-decoration: none;;
}

.navigation-item a.active {
    font-weight: bold;
}

.navigation-item a:hover, .navigation-item a:focus {
    color: var(--highlight);
}

@media only screen and (max-width: 600px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

    .navigation-list {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
