:root {
  --bg: #181818;
  --card: #3a3a44;
  --fg: #f5f5f5;
  --accent: #a6d1ff;
  --highlight: #c9e3ff;
  --border: #333;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 1em;

  color-scheme: light dark;
  color: var(--fg);
  background-color: var(--bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[data-theme="light"] {
  --bg: #ebebf0;
  --card: #fff;
  --fg: #181818;
  --accent: #007aff;
  --highlight: #747bff;
  --border: #e0e0e0;
}

a {
  font-weight: 500;
  color: var(--accent);
}
a:hover {
  color: var(--highlight);
}

body {
  margin: 0;
  transition: background 0.2s, color 0.2s;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  border: none; 
}

.collapsed {
  display: none;
}
